@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #efe6d7;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  // font-size: 16px;
}
.center {
  text-align: center;
}
.navbar-brand {
  font-size: 24px;
}
.main-title {
  font-size: 70px;
}
.sub-title {
  font-size: 30px;
}
.top50 {
  margin-top: 50px;
}
.top100 {
  margin-top: 100px;
}
.top150 {
  margin-top: 150px;
}
.white {
  color: #fff;
}
.tomato {
  color: tomato;
}
.navbar-default {
  background-color: #EFEFEB;
}
.navbar-default .navbar-brand {
  font-family: guardian-egyptt, georgia, serif;
  font-weight: 400;
  color: #d5641c;
  font-size: 30px;
}
.navbar-default .navbar-nav > li > a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #0192B5;
}
.sub-heading {
  padding: 25px;
}
.col-md-3:nth-child(4n+1) {
  clear: left;
}
.col-md-6 {
  h3 {
    font-size: 45px;
  }
  h5 {
    font-size: 25px;
  }
  p {
    font-size: 18px;
  }
}
.navbar {
  background: transparent;
  border-bottom: none;
  z-index: 1000;
  top: 20px;
  width: 100%;
  position: absolute;
  .listing {
    padding: 5px 20px;
    margin-top: 9px;
    margin-right: 10px;
    background-color: tomato;
    border-radius: 0;
    border: none;
  }
}
.landing-image {
  padding: 15px;
  background-image: url('https://dl.dropboxusercontent.com/s/6f8isrr4753y42f/belong.png?dl=0');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 500px;
}

// search form on landing page
.form-inline {
  &.main-search {
    margin-top: 120px;
  }
  .height50 {
    height: 50px;
  }
  .height100 {
    height: 100px;
  }
  .input-md {
    min-width: 250px;
    border-radius: 0;
  }
  #seek {
    border-radius: 0;
    color: #fff;
    background-color: tomato;
    border: #333;
    &:hover {
      background-color: #eee;
    }
  }
}